html {
  height: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #000000 0%, #020000 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    box-shadow: 779px 1331px #DC143C, 324px 42px #DC143C, 303px 586px #DC143C,
    1312px 276px #DC143C, 451px 625px #DC143C, 521px 1931px #DC143C, 1087px 1871px #DC143C,
    36px 1546px #DC143C, 132px 934px #DC143C, 1698px 901px #DC143C, 1418px 664px #DC143C,
    1448px 1157px #DC143C, 1084px 232px #DC143C, 347px 1776px #DC143C, 1722px 243px #DC143C,
    1629px 835px #DC143C, 479px 969px #DC143C, 1231px 960px #DC143C, 586px 384px #DC143C,
    164px 527px #DC143C, 8px 646px #DC143C, 1150px 1126px #DC143C, 665px 1357px #DC143C,
    1556px 1982px #DC143C, 1260px 1961px #DC143C, 1675px 1741px #DC143C,
    1843px 1514px #DC143C, 718px 1628px #DC143C, 242px 1343px #DC143C, 1497px 1880px #DC143C,
    1364px 230px #DC143C, 1739px 1302px #DC143C, 636px 959px #DC143C, 304px 686px #DC143C,
    614px 751px #DC143C, 1935px 816px #DC143C, 1428px 60px #DC143C, 355px 335px #DC143C,
    1594px 158px #DC143C, 90px 60px #DC143C, 1553px 162px #DC143C, 1239px 1825px #DC143C,
    1945px 587px #DC143C, 749px 1785px #DC143C, 1987px 1172px #DC143C, 1301px 1237px #DC143C,
    1039px 342px #DC143C, 1585px 1481px #DC143C, 995px 1048px #DC143C, 524px 932px #DC143C,
    214px 413px #DC143C, 1701px 1300px #DC143C, 1037px 1613px #DC143C, 1871px 996px #DC143C,
    1360px 1635px #DC143C, 1110px 1313px #DC143C, 412px 1783px #DC143C, 1949px 177px #DC143C,
    903px 1854px #DC143C, 700px 1936px #DC143C, 378px 125px #DC143C, 308px 834px #DC143C,
    1118px 962px #DC143C, 1350px 1929px #DC143C, 781px 1811px #DC143C, 561px 137px #DC143C,
    757px 1148px #DC143C, 1670px 1979px #DC143C, 343px 739px #DC143C, 945px 795px #DC143C,
    576px 1903px #DC143C, 1078px 1436px #DC143C, 1583px 450px #DC143C, 1366px 474px #DC143C,
    297px 1873px #DC143C, 192px 162px #DC143C, 1624px 1633px #DC143C, 59px 453px #DC143C,
    82px 1872px #DC143C, 1933px 498px #DC143C, 1966px 1974px #DC143C, 1975px 1688px #DC143C,
    779px 314px #DC143C, 1858px 1543px #DC143C, 73px 1507px #DC143C, 1693px 975px #DC143C,
    1683px 108px #DC143C, 1768px 1654px #DC143C, 654px 14px #DC143C, 494px 171px #DC143C,
    1689px 1895px #DC143C, 1660px 263px #DC143C, 1031px 903px #DC143C, 1203px 1393px #DC143C,
    1333px 1421px #DC143C, 1113px 41px #DC143C, 1206px 1645px #DC143C, 1325px 1635px #DC143C,
    142px 388px #DC143C, 572px 215px #DC143C, 1535px 296px #DC143C, 1419px 407px #DC143C,
    1379px 1003px #DC143C, 329px 469px #DC143C, 1791px 1652px #DC143C, 935px 1802px #DC143C,
    1330px 1820px #DC143C, 421px 1933px #DC143C, 828px 365px #DC143C, 275px 316px #DC143C,
    707px 960px #DC143C, 1605px 1554px #DC143C, 625px 58px #DC143C, 717px 1697px #DC143C,
    1669px 246px #DC143C, 1925px 322px #DC143C, 1154px 1803px #DC143C, 1929px 295px #DC143C,
    1248px 240px #DC143C, 1045px 1755px #DC143C, 166px 942px #DC143C, 1888px 1773px #DC143C,
    678px 1963px #DC143C, 1370px 569px #DC143C, 1974px 1400px #DC143C, 1786px 460px #DC143C,
    51px 307px #DC143C, 784px 1400px #DC143C, 730px 1258px #DC143C, 1712px 393px #DC143C,
    416px 170px #DC143C, 1797px 1932px #DC143C, 572px 219px #DC143C, 1557px 1856px #DC143C,
    218px 8px #DC143C, 348px 1334px #DC143C, 469px 413px #DC143C, 385px 1738px #DC143C,
    1357px 1818px #DC143C, 240px 942px #DC143C, 248px 1847px #DC143C, 1535px 806px #DC143C,
    236px 1514px #DC143C, 1429px 1556px #DC143C, 73px 1633px #DC143C, 1398px 1121px #DC143C,
    671px 1301px #DC143C, 1404px 1663px #DC143C, 740px 1018px #DC143C, 1600px 377px #DC143C,
    785px 514px #DC143C, 112px 1084px #DC143C, 1915px 1887px #DC143C, 1463px 1848px #DC143C,
    687px 1115px #DC143C, 1268px 1768px #DC143C, 1729px 1425px #DC143C,
    1284px 1022px #DC143C, 801px 974px #DC143C, 1975px 1317px #DC143C, 1354px 834px #DC143C,
    1446px 1484px #DC143C, 1283px 1786px #DC143C, 11px 523px #DC143C, 1842px 236px #DC143C,
    1355px 654px #DC143C, 429px 7px #DC143C, 1033px 1128px #DC143C, 157px 297px #DC143C,
    545px 635px #DC143C, 52px 1080px #DC143C, 827px 1520px #DC143C, 1121px 490px #DC143C,
    9px 309px #DC143C, 1744px 1586px #DC143C, 1014px 417px #DC143C, 1534px 524px #DC143C,
    958px 552px #DC143C, 1403px 1496px #DC143C, 387px 703px #DC143C, 1522px 548px #DC143C,
    1355px 282px #DC143C, 1532px 601px #DC143C, 1838px 790px #DC143C, 290px 259px #DC143C,
    295px 598px #DC143C, 1601px 539px #DC143C, 1561px 1272px #DC143C, 34px 1922px #DC143C,
    1024px 543px #DC143C, 467px 369px #DC143C, 722px 333px #DC143C, 1976px 1255px #DC143C,
    766px 983px #DC143C, 1582px 1285px #DC143C, 12px 512px #DC143C, 617px 1410px #DC143C,
    682px 577px #DC143C, 1334px 1438px #DC143C, 439px 327px #DC143C, 1617px 1661px #DC143C,
    673px 129px #DC143C, 794px 941px #DC143C, 1386px 1902px #DC143C, 37px 1353px #DC143C,
    1467px 1353px #DC143C, 416px 18px #DC143C, 187px 344px #DC143C, 200px 1898px #DC143C,
    1491px 1619px #DC143C, 811px 347px #DC143C, 924px 1827px #DC143C, 945px 217px #DC143C,
    1735px 1228px #DC143C, 379px 1890px #DC143C, 79px 761px #DC143C, 825px 1837px #DC143C,
    1980px 1558px #DC143C, 1308px 1573px #DC143C, 1488px 1726px #DC143C,
    382px 1208px #DC143C, 522px 595px #DC143C, 1277px 1898px #DC143C, 354px 552px #DC143C,
    161px 1784px #DC143C, 614px 251px #DC143C, 526px 1576px #DC143C, 17px 212px #DC143C,
    179px 996px #DC143C, 467px 1208px #DC143C, 1944px 1838px #DC143C, 1140px 1093px #DC143C,
    858px 1007px #DC143C, 200px 1064px #DC143C, 423px 1964px #DC143C, 1945px 439px #DC143C,
    1377px 689px #DC143C, 1120px 1437px #DC143C, 1876px 668px #DC143C, 907px 1324px #DC143C,
    343px 1976px #DC143C, 1816px 1501px #DC143C, 1849px 177px #DC143C, 647px 91px #DC143C,
    1984px 1012px #DC143C, 1336px 1300px #DC143C, 128px 648px #DC143C, 305px 1060px #DC143C,
    1324px 826px #DC143C, 1263px 1314px #DC143C, 1801px 629px #DC143C, 1614px 1555px #DC143C,
    1634px 90px #DC143C, 1603px 452px #DC143C, 891px 1984px #DC143C, 1556px 1906px #DC143C,
    121px 68px #DC143C, 1676px 1714px #DC143C, 516px 936px #DC143C, 1947px 1492px #DC143C,
    1455px 1519px #DC143C, 45px 602px #DC143C, 205px 1039px #DC143C, 793px 172px #DC143C,
    1562px 1739px #DC143C, 1056px 110px #DC143C, 1512px 379px #DC143C, 1795px 1621px #DC143C,
    1848px 607px #DC143C, 262px 1719px #DC143C, 477px 991px #DC143C, 483px 883px #DC143C,
    1239px 1197px #DC143C, 1496px 647px #DC143C, 1649px 25px #DC143C, 1491px 1946px #DC143C,
    119px 996px #DC143C, 179px 1472px #DC143C, 1341px 808px #DC143C, 1565px 1700px #DC143C,
    407px 1544px #DC143C, 1754px 357px #DC143C, 1288px 981px #DC143C, 902px 1997px #DC143C,
    1755px 1668px #DC143C, 186px 877px #DC143C, 1202px 1882px #DC143C, 461px 1213px #DC143C,
    1400px 748px #DC143C, 1969px 1899px #DC143C, 809px 522px #DC143C, 514px 1219px #DC143C,
    374px 275px #DC143C, 938px 1973px #DC143C, 357px 552px #DC143C, 144px 1722px #DC143C,
    1572px 912px #DC143C, 402px 1858px #DC143C, 1544px 1195px #DC143C, 667px 1257px #DC143C,
    727px 1496px #DC143C, 993px 232px #DC143C, 1772px 313px #DC143C, 1040px 1590px #DC143C,
    1204px 1973px #DC143C, 1268px 79px #DC143C, 1555px 1048px #DC143C, 986px 1707px #DC143C,
    978px 1710px #DC143C, 713px 360px #DC143C, 407px 863px #DC143C, 461px 736px #DC143C,
    284px 1608px #DC143C, 103px 430px #DC143C, 1283px 1319px #DC143C, 977px 1186px #DC143C,
    1966px 1516px #DC143C, 1287px 1129px #DC143C, 70px 1098px #DC143C, 1189px 889px #DC143C,
    1126px 1734px #DC143C, 309px 1292px #DC143C, 879px 764px #DC143C, 65px 473px #DC143C,
    1003px 1959px #DC143C, 658px 791px #DC143C, 402px 1576px #DC143C, 35px 622px #DC143C,
    529px 1589px #DC143C, 164px 666px #DC143C, 1876px 1290px #DC143C, 1541px 526px #DC143C,
    270px 1297px #DC143C, 440px 865px #DC143C, 1500px 802px #DC143C, 182px 1754px #DC143C,
    1264px 892px #DC143C, 272px 1249px #DC143C, 1289px 1535px #DC143C, 190px 1646px #DC143C,
    955px 242px #DC143C, 1456px 1597px #DC143C, 1727px 1983px #DC143C, 635px 801px #DC143C,
    226px 455px #DC143C, 1396px 1710px #DC143C, 849px 1863px #DC143C, 237px 1264px #DC143C,
    839px 140px #DC143C, 1122px 735px #DC143C, 1280px 15px #DC143C, 1318px 242px #DC143C,
    1819px 1148px #DC143C, 333px 1392px #DC143C, 1949px 553px #DC143C, 1878px 1332px #DC143C,
    467px 548px #DC143C, 1812px 1082px #DC143C, 1067px 193px #DC143C, 243px 156px #DC143C,
    483px 1616px #DC143C, 1714px 933px #DC143C, 759px 1800px #DC143C, 1822px 995px #DC143C,
    1877px 572px #DC143C, 581px 1084px #DC143C, 107px 732px #DC143C, 642px 1837px #DC143C,
    166px 1493px #DC143C, 1555px 198px #DC143C, 819px 307px #DC143C, 947px 345px #DC143C,
    827px 224px #DC143C, 927px 1394px #DC143C, 540px 467px #DC143C, 1093px 405px #DC143C,
    1140px 927px #DC143C, 130px 529px #DC143C, 33px 1980px #DC143C, 1147px 1663px #DC143C,
    1616px 1436px #DC143C, 528px 710px #DC143C, 798px 1100px #DC143C, 505px 1480px #DC143C,
    899px 641px #DC143C, 1909px 1949px #DC143C, 1311px 964px #DC143C, 979px 1301px #DC143C,
    1393px 969px #DC143C, 1793px 1886px #DC143C, 292px 357px #DC143C, 1196px 1718px #DC143C,
    1290px 1994px #DC143C, 537px 1973px #DC143C, 1181px 1674px #DC143C,
    1740px 1566px #DC143C, 1307px 265px #DC143C, 922px 522px #DC143C, 1892px 472px #DC143C,
    384px 1746px #DC143C, 392px 1098px #DC143C, 647px 548px #DC143C, 390px 1498px #DC143C,
    1246px 138px #DC143C, 730px 876px #DC143C, 192px 1472px #DC143C, 1790px 1789px #DC143C,
    928px 311px #DC143C, 1253px 1647px #DC143C, 747px 1921px #DC143C, 1561px 1025px #DC143C,
    1533px 1292px #DC143C, 1985px 195px #DC143C, 728px 729px #DC143C, 1712px 1936px #DC143C,
    512px 1717px #DC143C, 1528px 483px #DC143C, 313px 1642px #DC143C, 281px 1849px #DC143C,
    1212px 799px #DC143C, 435px 1191px #DC143C, 1422px 611px #DC143C, 1718px 1964px #DC143C,
    411px 944px #DC143C, 210px 636px #DC143C, 1502px 1295px #DC143C, 1434px 349px #DC143C,
    769px 60px #DC143C, 747px 1053px #DC143C, 789px 504px #DC143C, 1436px 1264px #DC143C,
    1893px 1225px #DC143C, 1394px 1788px #DC143C, 1108px 1317px #DC143C,
    1673px 1395px #DC143C, 854px 1010px #DC143C, 1705px 80px #DC143C, 1858px 148px #DC143C,
    1729px 344px #DC143C, 1388px 664px #DC143C, 895px 406px #DC143C, 1479px 157px #DC143C,
    1441px 1157px #DC143C, 552px 1900px #DC143C, 516px 364px #DC143C, 1647px 189px #DC143C,
    1427px 1071px #DC143C, 785px 729px #DC143C, 1080px 1710px #DC143C, 504px 204px #DC143C,
    1177px 1622px #DC143C, 657px 34px #DC143C, 1296px 1099px #DC143C, 248px 180px #DC143C,
    1212px 1568px #DC143C, 667px 1562px #DC143C, 695px 841px #DC143C, 1608px 1247px #DC143C,
    751px 882px #DC143C, 87px 167px #DC143C, 607px 1368px #DC143C, 1363px 1203px #DC143C,
    1836px 317px #DC143C, 1668px 1703px #DC143C, 830px 1154px #DC143C, 1721px 1398px #DC143C,
    1601px 1280px #DC143C, 976px 874px #DC143C, 1743px 254px #DC143C, 1020px 1815px #DC143C,
    1670px 1766px #DC143C, 1890px 735px #DC143C, 1379px 136px #DC143C, 1864px 695px #DC143C,
    206px 965px #DC143C, 1404px 1932px #DC143C, 1923px 1360px #DC143C, 247px 682px #DC143C,
    519px 1708px #DC143C, 645px 750px #DC143C, 1164px 1204px #DC143C, 834px 323px #DC143C,
    172px 1350px #DC143C, 213px 972px #DC143C, 1837px 190px #DC143C, 285px 1806px #DC143C,
    1047px 1299px #DC143C, 1548px 825px #DC143C, 1730px 324px #DC143C, 1346px 1909px #DC143C,
    772px 270px #DC143C, 345px 1190px #DC143C, 478px 1433px #DC143C, 1479px 25px #DC143C,
    1994px 1830px #DC143C, 1744px 732px #DC143C, 20px 1635px #DC143C, 690px 1795px #DC143C,
    1594px 569px #DC143C, 579px 245px #DC143C, 1398px 733px #DC143C, 408px 1352px #DC143C,
    1774px 120px #DC143C, 1152px 1370px #DC143C, 1698px 1810px #DC143C, 710px 1450px #DC143C,
    665px 286px #DC143C, 493px 1720px #DC143C, 786px 5px #DC143C, 637px 1140px #DC143C,
    764px 324px #DC143C, 927px 310px #DC143C, 938px 1424px #DC143C, 1884px 744px #DC143C,
    913px 462px #DC143C, 1831px 1936px #DC143C, 1527px 249px #DC143C, 36px 1381px #DC143C,
    1597px 581px #DC143C, 1530px 355px #DC143C, 949px 459px #DC143C, 799px 828px #DC143C,
    242px 1471px #DC143C, 654px 797px #DC143C, 796px 594px #DC143C, 1365px 678px #DC143C,
    752px 23px #DC143C, 1630px 541px #DC143C, 982px 72px #DC143C, 1733px 1831px #DC143C,
    21px 412px #DC143C, 775px 998px #DC143C, 335px 1945px #DC143C, 264px 583px #DC143C,
    158px 1311px #DC143C, 528px 164px #DC143C, 1978px 574px #DC143C, 717px 1203px #DC143C,
    734px 1591px #DC143C, 1555px 820px #DC143C, 16px 1943px #DC143C, 1625px 1177px #DC143C,
    1236px 690px #DC143C, 1585px 1590px #DC143C, 1737px 1728px #DC143C, 721px 698px #DC143C,
    1804px 1186px #DC143C, 166px 980px #DC143C, 1850px 230px #DC143C, 330px 1712px #DC143C,
    95px 797px #DC143C, 1948px 1078px #DC143C, 469px 939px #DC143C, 1269px 1899px #DC143C,
    955px 1220px #DC143C, 1137px 1075px #DC143C, 312px 1293px #DC143C, 986px 1762px #DC143C,
    1103px 1238px #DC143C, 428px 1993px #DC143C, 355px 570px #DC143C, 977px 1836px #DC143C,
    1395px 1092px #DC143C, 276px 913px #DC143C, 1743px 656px #DC143C, 773px 502px #DC143C,
    1686px 1322px #DC143C, 1516px 1945px #DC143C, 1334px 501px #DC143C, 266px 156px #DC143C,
    455px 655px #DC143C, 798px 72px #DC143C, 1059px 1259px #DC143C, 1402px 1687px #DC143C,
    236px 1329px #DC143C, 1455px 786px #DC143C, 146px 1228px #DC143C, 1851px 823px #DC143C,
    1062px 100px #DC143C, 1220px 953px #DC143C, 20px 1826px #DC143C, 36px 1063px #DC143C,
    1525px 338px #DC143C, 790px 1521px #DC143C, 741px 1099px #DC143C, 288px 1489px #DC143C,
    700px 1060px #DC143C, 390px 1071px #DC143C, 411px 1036px #DC143C, 1853px 1072px #DC143C,
    1446px 1085px #DC143C, 1164px 874px #DC143C, 924px 925px #DC143C, 291px 271px #DC143C,
    1257px 1964px #DC143C, 1580px 1352px #DC143C, 1507px 1216px #DC143C, 211px 956px #DC143C,
    985px 1195px #DC143C, 975px 1640px #DC143C, 518px 101px #DC143C, 663px 1395px #DC143C,
    914px 532px #DC143C, 145px 1320px #DC143C, 69px 1397px #DC143C, 982px 523px #DC143C,
    257px 725px #DC143C, 1599px 831px #DC143C, 1636px 1513px #DC143C, 1250px 1158px #DC143C,
    1132px 604px #DC143C, 183px 102px #DC143C, 1057px 318px #DC143C, 1247px 1835px #DC143C,
    1983px 1110px #DC143C, 1077px 1455px #DC143C, 921px 1770px #DC143C, 806px 1350px #DC143C,
    1938px 1992px #DC143C, 855px 1260px #DC143C, 902px 1345px #DC143C, 658px 1908px #DC143C,
    1845px 679px #DC143C, 712px 1482px #DC143C, 595px 950px #DC143C, 1784px 1992px #DC143C,
    1847px 1785px #DC143C, 691px 1004px #DC143C, 175px 1179px #DC143C, 1666px 1911px #DC143C,
    41px 61px #DC143C, 971px 1080px #DC143C, 1830px 1450px #DC143C, 1351px 1518px #DC143C,
    1257px 99px #DC143C, 1395px 1498px #DC143C, 1117px 252px #DC143C, 1779px 597px #DC143C,
    1346px 729px #DC143C, 1108px 1144px #DC143C, 402px 691px #DC143C, 72px 496px #DC143C,
    1673px 1604px #DC143C, 1497px 974px #DC143C, 1865px 1664px #DC143C, 88px 806px #DC143C,
    918px 77px #DC143C, 244px 1118px #DC143C, 256px 1820px #DC143C, 1851px 1840px #DC143C,
    605px 1851px #DC143C, 634px 383px #DC143C, 865px 37px #DC143C, 943px 1024px #DC143C,
    1951px 177px #DC143C, 1097px 523px #DC143C, 985px 1700px #DC143C, 1243px 122px #DC143C,
    768px 1070px #DC143C, 468px 194px #DC143C, 320px 1867px #DC143C, 1850px 185px #DC143C,
    380px 1616px #DC143C, 468px 1294px #DC143C, 1122px 1743px #DC143C, 884px 299px #DC143C,
    1300px 1917px #DC143C, 1860px 396px #DC143C, 1270px 990px #DC143C, 529px 733px #DC143C,
    1975px 1347px #DC143C, 1885px 685px #DC143C, 226px 506px #DC143C, 651px 878px #DC143C,
    1323px 680px #DC143C, 1284px 680px #DC143C, 238px 1967px #DC143C, 911px 174px #DC143C,
    1111px 521px #DC143C, 1150px 85px #DC143C, 794px 502px #DC143C, 484px 1856px #DC143C,
    1809px 368px #DC143C, 112px 953px #DC143C, 590px 1009px #DC143C, 1655px 311px #DC143C,
    100px 1026px #DC143C, 1803px 352px #DC143C, 865px 306px #DC143C, 1077px 1019px #DC143C,
    1335px 872px #DC143C, 1647px 1298px #DC143C, 1233px 1387px #DC143C, 698px 1036px #DC143C,
    659px 1860px #DC143C, 388px 1412px #DC143C, 1212px 458px #DC143C, 755px 1468px #DC143C,
    696px 1654px #DC143C, 1144px 60px #DC143C;
}

#stars:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 779px 1331px #DC143C, 324px 42px #DC143C, 303px 586px #DC143C,
    1312px 276px #DC143C, 451px 625px #DC143C, 521px 1931px #DC143C, 1087px 1871px #DC143C,
    36px 1546px #DC143C, 132px 934px #DC143C, 1698px 901px #DC143C, 1418px 664px #DC143C,
    1448px 1157px #DC143C, 1084px 232px #DC143C, 347px 1776px #DC143C, 1722px 243px #DC143C,
    1629px 835px #DC143C, 479px 969px #DC143C, 1231px 960px #DC143C, 586px 384px #DC143C,
    164px 527px #DC143C, 8px 646px #DC143C, 1150px 1126px #DC143C, 665px 1357px #DC143C,
    1556px 1982px #DC143C, 1260px 1961px #DC143C, 1675px 1741px #DC143C,
    1843px 1514px #DC143C, 718px 1628px #DC143C, 242px 1343px #DC143C, 1497px 1880px #DC143C,
    1364px 230px #DC143C, 1739px 1302px #DC143C, 636px 959px #DC143C, 304px 686px #DC143C,
    614px 751px #DC143C, 1935px 816px #DC143C, 1428px 60px #DC143C, 355px 335px #DC143C,
    1594px 158px #DC143C, 90px 60px #DC143C, 1553px 162px #DC143C, 1239px 1825px #DC143C,
    1945px 587px #DC143C, 749px 1785px #DC143C, 1987px 1172px #DC143C, 1301px 1237px #DC143C,
    1039px 342px #DC143C, 1585px 1481px #DC143C, 995px 1048px #DC143C, 524px 932px #DC143C,
    214px 413px #DC143C, 1701px 1300px #DC143C, 1037px 1613px #DC143C, 1871px 996px #DC143C,
    1360px 1635px #DC143C, 1110px 1313px #DC143C, 412px 1783px #DC143C, 1949px 177px #DC143C,
    903px 1854px #DC143C, 700px 1936px #DC143C, 378px 125px #DC143C, 308px 834px #DC143C,
    1118px 962px #DC143C, 1350px 1929px #DC143C, 781px 1811px #DC143C, 561px 137px #DC143C,
    757px 1148px #DC143C, 1670px 1979px #DC143C, 343px 739px #DC143C, 945px 795px #DC143C,
    576px 1903px #DC143C, 1078px 1436px #DC143C, 1583px 450px #DC143C, 1366px 474px #DC143C,
    297px 1873px #DC143C, 192px 162px #DC143C, 1624px 1633px #DC143C, 59px 453px #DC143C,
    82px 1872px #DC143C, 1933px 498px #DC143C, 1966px 1974px #DC143C, 1975px 1688px #DC143C,
    779px 314px #DC143C, 1858px 1543px #DC143C, 73px 1507px #DC143C, 1693px 975px #DC143C,
    1683px 108px #DC143C, 1768px 1654px #DC143C, 654px 14px #DC143C, 494px 171px #DC143C,
    1689px 1895px #DC143C, 1660px 263px #DC143C, 1031px 903px #DC143C, 1203px 1393px #DC143C,
    1333px 1421px #DC143C, 1113px 41px #DC143C, 1206px 1645px #DC143C, 1325px 1635px #DC143C,
    142px 388px #DC143C, 572px 215px #DC143C, 1535px 296px #DC143C, 1419px 407px #DC143C,
    1379px 1003px #DC143C, 329px 469px #DC143C, 1791px 1652px #DC143C, 935px 1802px #DC143C,
    1330px 1820px #DC143C, 421px 1933px #DC143C, 828px 365px #DC143C, 275px 316px #DC143C,
    707px 960px #DC143C, 1605px 1554px #DC143C, 625px 58px #DC143C, 717px 1697px #DC143C,
    1669px 246px #DC143C, 1925px 322px #DC143C, 1154px 1803px #DC143C, 1929px 295px #DC143C,
    1248px 240px #DC143C, 1045px 1755px #DC143C, 166px 942px #DC143C, 1888px 1773px #DC143C,
    678px 1963px #DC143C, 1370px 569px #DC143C, 1974px 1400px #DC143C, 1786px 460px #DC143C,
    51px 307px #DC143C, 784px 1400px #DC143C, 730px 1258px #DC143C, 1712px 393px #DC143C,
    416px 170px #DC143C, 1797px 1932px #DC143C, 572px 219px #DC143C, 1557px 1856px #DC143C,
    218px 8px #DC143C, 348px 1334px #DC143C, 469px 413px #DC143C, 385px 1738px #DC143C,
    1357px 1818px #DC143C, 240px 942px #DC143C, 248px 1847px #DC143C, 1535px 806px #DC143C,
    236px 1514px #DC143C, 1429px 1556px #DC143C, 73px 1633px #DC143C, 1398px 1121px #DC143C,
    671px 1301px #DC143C, 1404px 1663px #DC143C, 740px 1018px #DC143C, 1600px 377px #DC143C,
    785px 514px #DC143C, 112px 1084px #DC143C, 1915px 1887px #DC143C, 1463px 1848px #DC143C,
    687px 1115px #DC143C, 1268px 1768px #DC143C, 1729px 1425px #DC143C,
    1284px 1022px #DC143C, 801px 974px #DC143C, 1975px 1317px #DC143C, 1354px 834px #DC143C,
    1446px 1484px #DC143C, 1283px 1786px #DC143C, 11px 523px #DC143C, 1842px 236px #DC143C,
    1355px 654px #DC143C, 429px 7px #DC143C, 1033px 1128px #DC143C, 157px 297px #DC143C,
    545px 635px #DC143C, 52px 1080px #DC143C, 827px 1520px #DC143C, 1121px 490px #DC143C,
    9px 309px #DC143C, 1744px 1586px #DC143C, 1014px 417px #DC143C, 1534px 524px #DC143C,
    958px 552px #DC143C, 1403px 1496px #DC143C, 387px 703px #DC143C, 1522px 548px #DC143C,
    1355px 282px #DC143C, 1532px 601px #DC143C, 1838px 790px #DC143C, 290px 259px #DC143C,
    295px 598px #DC143C, 1601px 539px #DC143C, 1561px 1272px #DC143C, 34px 1922px #DC143C,
    1024px 543px #DC143C, 467px 369px #DC143C, 722px 333px #DC143C, 1976px 1255px #DC143C,
    766px 983px #DC143C, 1582px 1285px #DC143C, 12px 512px #DC143C, 617px 1410px #DC143C,
    682px 577px #DC143C, 1334px 1438px #DC143C, 439px 327px #DC143C, 1617px 1661px #DC143C,
    673px 129px #DC143C, 794px 941px #DC143C, 1386px 1902px #DC143C, 37px 1353px #DC143C,
    1467px 1353px #DC143C, 416px 18px #DC143C, 187px 344px #DC143C, 200px 1898px #DC143C,
    1491px 1619px #DC143C, 811px 347px #DC143C, 924px 1827px #DC143C, 945px 217px #DC143C,
    1735px 1228px #DC143C, 379px 1890px #DC143C, 79px 761px #DC143C, 825px 1837px #DC143C,
    1980px 1558px #DC143C, 1308px 1573px #DC143C, 1488px 1726px #DC143C,
    382px 1208px #DC143C, 522px 595px #DC143C, 1277px 1898px #DC143C, 354px 552px #DC143C,
    161px 1784px #DC143C, 614px 251px #DC143C, 526px 1576px #DC143C, 17px 212px #DC143C,
    179px 996px #DC143C, 467px 1208px #DC143C, 1944px 1838px #DC143C, 1140px 1093px #DC143C,
    858px 1007px #DC143C, 200px 1064px #DC143C, 423px 1964px #DC143C, 1945px 439px #DC143C,
    1377px 689px #DC143C, 1120px 1437px #DC143C, 1876px 668px #DC143C, 907px 1324px #DC143C,
    343px 1976px #DC143C, 1816px 1501px #DC143C, 1849px 177px #DC143C, 647px 91px #DC143C,
    1984px 1012px #DC143C, 1336px 1300px #DC143C, 128px 648px #DC143C, 305px 1060px #DC143C,
    1324px 826px #DC143C, 1263px 1314px #DC143C, 1801px 629px #DC143C, 1614px 1555px #DC143C,
    1634px 90px #DC143C, 1603px 452px #DC143C, 891px 1984px #DC143C, 1556px 1906px #DC143C,
    121px 68px #DC143C, 1676px 1714px #DC143C, 516px 936px #DC143C, 1947px 1492px #DC143C,
    1455px 1519px #DC143C, 45px 602px #DC143C, 205px 1039px #DC143C, 793px 172px #DC143C,
    1562px 1739px #DC143C, 1056px 110px #DC143C, 1512px 379px #DC143C, 1795px 1621px #DC143C,
    1848px 607px #DC143C, 262px 1719px #DC143C, 477px 991px #DC143C, 483px 883px #DC143C,
    1239px 1197px #DC143C, 1496px 647px #DC143C, 1649px 25px #DC143C, 1491px 1946px #DC143C,
    119px 996px #DC143C, 179px 1472px #DC143C, 1341px 808px #DC143C, 1565px 1700px #DC143C,
    407px 1544px #DC143C, 1754px 357px #DC143C, 1288px 981px #DC143C, 902px 1997px #DC143C,
    1755px 1668px #DC143C, 186px 877px #DC143C, 1202px 1882px #DC143C, 461px 1213px #DC143C,
    1400px 748px #DC143C, 1969px 1899px #DC143C, 809px 522px #DC143C, 514px 1219px #DC143C,
    374px 275px #DC143C, 938px 1973px #DC143C, 357px 552px #DC143C, 144px 1722px #DC143C,
    1572px 912px #DC143C, 402px 1858px #DC143C, 1544px 1195px #DC143C, 667px 1257px #DC143C,
    727px 1496px #DC143C, 993px 232px #DC143C, 1772px 313px #DC143C, 1040px 1590px #DC143C,
    1204px 1973px #DC143C, 1268px 79px #DC143C, 1555px 1048px #DC143C, 986px 1707px #DC143C,
    978px 1710px #DC143C, 713px 360px #DC143C, 407px 863px #DC143C, 461px 736px #DC143C,
    284px 1608px #DC143C, 103px 430px #DC143C, 1283px 1319px #DC143C, 977px 1186px #DC143C,
    1966px 1516px #DC143C, 1287px 1129px #DC143C, 70px 1098px #DC143C, 1189px 889px #DC143C,
    1126px 1734px #DC143C, 309px 1292px #DC143C, 879px 764px #DC143C, 65px 473px #DC143C,
    1003px 1959px #DC143C, 658px 791px #DC143C, 402px 1576px #DC143C, 35px 622px #DC143C,
    529px 1589px #DC143C, 164px 666px #DC143C, 1876px 1290px #DC143C, 1541px 526px #DC143C,
    270px 1297px #DC143C, 440px 865px #DC143C, 1500px 802px #DC143C, 182px 1754px #DC143C,
    1264px 892px #DC143C, 272px 1249px #DC143C, 1289px 1535px #DC143C, 190px 1646px #DC143C,
    955px 242px #DC143C, 1456px 1597px #DC143C, 1727px 1983px #DC143C, 635px 801px #DC143C,
    226px 455px #DC143C, 1396px 1710px #DC143C, 849px 1863px #DC143C, 237px 1264px #DC143C,
    839px 140px #DC143C, 1122px 735px #DC143C, 1280px 15px #DC143C, 1318px 242px #DC143C,
    1819px 1148px #DC143C, 333px 1392px #DC143C, 1949px 553px #DC143C, 1878px 1332px #DC143C,
    467px 548px #DC143C, 1812px 1082px #DC143C, 1067px 193px #DC143C, 243px 156px #DC143C,
    483px 1616px #DC143C, 1714px 933px #DC143C, 759px 1800px #DC143C, 1822px 995px #DC143C,
    1877px 572px #DC143C, 581px 1084px #DC143C, 107px 732px #DC143C, 642px 1837px #DC143C,
    166px 1493px #DC143C, 1555px 198px #DC143C, 819px 307px #DC143C, 947px 345px #DC143C,
    827px 224px #DC143C, 927px 1394px #DC143C, 540px 467px #DC143C, 1093px 405px #DC143C,
    1140px 927px #DC143C, 130px 529px #DC143C, 33px 1980px #DC143C, 1147px 1663px #DC143C,
    1616px 1436px #DC143C, 528px 710px #DC143C, 798px 1100px #DC143C, 505px 1480px #DC143C,
    899px 641px #DC143C, 1909px 1949px #DC143C, 1311px 964px #DC143C, 979px 1301px #DC143C,
    1393px 969px #DC143C, 1793px 1886px #DC143C, 292px 357px #DC143C, 1196px 1718px #DC143C,
    1290px 1994px #DC143C, 537px 1973px #DC143C, 1181px 1674px #DC143C,
    1740px 1566px #DC143C, 1307px 265px #DC143C, 922px 522px #DC143C, 1892px 472px #DC143C,
    384px 1746px #DC143C, 392px 1098px #DC143C, 647px 548px #DC143C, 390px 1498px #DC143C,
    1246px 138px #DC143C, 730px 876px #DC143C, 192px 1472px #DC143C, 1790px 1789px #DC143C,
    928px 311px #DC143C, 1253px 1647px #DC143C, 747px 1921px #DC143C, 1561px 1025px #DC143C,
    1533px 1292px #DC143C, 1985px 195px #DC143C, 728px 729px #DC143C, 1712px 1936px #DC143C,
    512px 1717px #DC143C, 1528px 483px #DC143C, 313px 1642px #DC143C, 281px 1849px #DC143C,
    1212px 799px #DC143C, 435px 1191px #DC143C, 1422px 611px #DC143C, 1718px 1964px #DC143C,
    411px 944px #DC143C, 210px 636px #DC143C, 1502px 1295px #DC143C, 1434px 349px #DC143C,
    769px 60px #DC143C, 747px 1053px #DC143C, 789px 504px #DC143C, 1436px 1264px #DC143C,
    1893px 1225px #DC143C, 1394px 1788px #DC143C, 1108px 1317px #DC143C,
    1673px 1395px #DC143C, 854px 1010px #DC143C, 1705px 80px #DC143C, 1858px 148px #DC143C,
    1729px 344px #DC143C, 1388px 664px #DC143C, 895px 406px #DC143C, 1479px 157px #DC143C,
    1441px 1157px #DC143C, 552px 1900px #DC143C, 516px 364px #DC143C, 1647px 189px #DC143C,
    1427px 1071px #DC143C, 785px 729px #DC143C, 1080px 1710px #DC143C, 504px 204px #DC143C,
    1177px 1622px #DC143C, 657px 34px #DC143C, 1296px 1099px #DC143C, 248px 180px #DC143C,
    1212px 1568px #DC143C, 667px 1562px #DC143C, 695px 841px #DC143C, 1608px 1247px #DC143C,
    751px 882px #DC143C, 87px 167px #DC143C, 607px 1368px #DC143C, 1363px 1203px #DC143C,
    1836px 317px #DC143C, 1668px 1703px #DC143C, 830px 1154px #DC143C, 1721px 1398px #DC143C,
    1601px 1280px #DC143C, 976px 874px #DC143C, 1743px 254px #DC143C, 1020px 1815px #DC143C,
    1670px 1766px #DC143C, 1890px 735px #DC143C, 1379px 136px #DC143C, 1864px 695px #DC143C,
    206px 965px #DC143C, 1404px 1932px #DC143C, 1923px 1360px #DC143C, 247px 682px #DC143C,
    519px 1708px #DC143C, 645px 750px #DC143C, 1164px 1204px #DC143C, 834px 323px #DC143C,
    172px 1350px #DC143C, 213px 972px #DC143C, 1837px 190px #DC143C, 285px 1806px #DC143C,
    1047px 1299px #DC143C, 1548px 825px #DC143C, 1730px 324px #DC143C, 1346px 1909px #DC143C,
    772px 270px #DC143C, 345px 1190px #DC143C, 478px 1433px #DC143C, 1479px 25px #DC143C,
    1994px 1830px #DC143C, 1744px 732px #DC143C, 20px 1635px #DC143C, 690px 1795px #DC143C,
    1594px 569px #DC143C, 579px 245px #DC143C, 1398px 733px #DC143C, 408px 1352px #DC143C,
    1774px 120px #DC143C, 1152px 1370px #DC143C, 1698px 1810px #DC143C, 710px 1450px #DC143C,
    665px 286px #DC143C, 493px 1720px #DC143C, 786px 5px #DC143C, 637px 1140px #DC143C,
    764px 324px #DC143C, 927px 310px #DC143C, 938px 1424px #DC143C, 1884px 744px #DC143C,
    913px 462px #DC143C, 1831px 1936px #DC143C, 1527px 249px #DC143C, 36px 1381px #DC143C,
    1597px 581px #DC143C, 1530px 355px #DC143C, 949px 459px #DC143C, 799px 828px #DC143C,
    242px 1471px #DC143C, 654px 797px #DC143C, 796px 594px #DC143C, 1365px 678px #DC143C,
    752px 23px #DC143C, 1630px 541px #DC143C, 982px 72px #DC143C, 1733px 1831px #DC143C,
    21px 412px #DC143C, 775px 998px #DC143C, 335px 1945px #DC143C, 264px 583px #DC143C,
    158px 1311px #DC143C, 528px 164px #DC143C, 1978px 574px #DC143C, 717px 1203px #DC143C,
    734px 1591px #DC143C, 1555px 820px #DC143C, 16px 1943px #DC143C, 1625px 1177px #DC143C,
    1236px 690px #DC143C, 1585px 1590px #DC143C, 1737px 1728px #DC143C, 721px 698px #DC143C,
    1804px 1186px #DC143C, 166px 980px #DC143C, 1850px 230px #DC143C, 330px 1712px #DC143C,
    95px 797px #DC143C, 1948px 1078px #DC143C, 469px 939px #DC143C, 1269px 1899px #DC143C,
    955px 1220px #DC143C, 1137px 1075px #DC143C, 312px 1293px #DC143C, 986px 1762px #DC143C,
    1103px 1238px #DC143C, 428px 1993px #DC143C, 355px 570px #DC143C, 977px 1836px #DC143C,
    1395px 1092px #DC143C, 276px 913px #DC143C, 1743px 656px #DC143C, 773px 502px #DC143C,
    1686px 1322px #DC143C, 1516px 1945px #DC143C, 1334px 501px #DC143C, 266px 156px #DC143C,
    455px 655px #DC143C, 798px 72px #DC143C, 1059px 1259px #DC143C, 1402px 1687px #DC143C,
    236px 1329px #DC143C, 1455px 786px #DC143C, 146px 1228px #DC143C, 1851px 823px #DC143C,
    1062px 100px #DC143C, 1220px 953px #DC143C, 20px 1826px #DC143C, 36px 1063px #DC143C,
    1525px 338px #DC143C, 790px 1521px #DC143C, 741px 1099px #DC143C, 288px 1489px #DC143C,
    700px 1060px #DC143C, 390px 1071px #DC143C, 411px 1036px #DC143C, 1853px 1072px #DC143C,
    1446px 1085px #DC143C, 1164px 874px #DC143C, 924px 925px #DC143C, 291px 271px #DC143C,
    1257px 1964px #DC143C, 1580px 1352px #DC143C, 1507px 1216px #DC143C, 211px 956px #DC143C,
    985px 1195px #DC143C, 975px 1640px #DC143C, 518px 101px #DC143C, 663px 1395px #DC143C,
    914px 532px #DC143C, 145px 1320px #DC143C, 69px 1397px #DC143C, 982px 523px #DC143C,
    257px 725px #DC143C, 1599px 831px #DC143C, 1636px 1513px #DC143C, 1250px 1158px #DC143C,
    1132px 604px #DC143C, 183px 102px #DC143C, 1057px 318px #DC143C, 1247px 1835px #DC143C,
    1983px 1110px #DC143C, 1077px 1455px #DC143C, 921px 1770px #DC143C, 806px 1350px #DC143C,
    1938px 1992px #DC143C, 855px 1260px #DC143C, 902px 1345px #DC143C, 658px 1908px #DC143C,
    1845px 679px #DC143C, 712px 1482px #DC143C, 595px 950px #DC143C, 1784px 1992px #DC143C,
    1847px 1785px #DC143C, 691px 1004px #DC143C, 175px 1179px #DC143C, 1666px 1911px #DC143C,
    41px 61px #DC143C, 971px 1080px #DC143C, 1830px 1450px #DC143C, 1351px 1518px #DC143C,
    1257px 99px #DC143C, 1395px 1498px #DC143C, 1117px 252px #DC143C, 1779px 597px #DC143C,
    1346px 729px #DC143C, 1108px 1144px #DC143C, 402px 691px #DC143C, 72px 496px #DC143C,
    1673px 1604px #DC143C, 1497px 974px #DC143C, 1865px 1664px #DC143C, 88px 806px #DC143C,
    918px 77px #DC143C, 244px 1118px #DC143C, 256px 1820px #DC143C, 1851px 1840px #DC143C,
    605px 1851px #DC143C, 634px 383px #DC143C, 865px 37px #DC143C, 943px 1024px #DC143C,
    1951px 177px #DC143C, 1097px 523px #DC143C, 985px 1700px #DC143C, 1243px 122px #DC143C,
    768px 1070px #DC143C, 468px 194px #DC143C, 320px 1867px #DC143C, 1850px 185px #DC143C,
    380px 1616px #DC143C, 468px 1294px #DC143C, 1122px 1743px #DC143C, 884px 299px #DC143C,
    1300px 1917px #DC143C, 1860px 396px #DC143C, 1270px 990px #DC143C, 529px 733px #DC143C,
    1975px 1347px #DC143C, 1885px 685px #DC143C, 226px 506px #DC143C, 651px 878px #DC143C,
    1323px 680px #DC143C, 1284px 680px #DC143C, 238px 1967px #DC143C, 911px 174px #DC143C,
    1111px 521px #DC143C, 1150px 85px #DC143C, 794px 502px #DC143C, 484px 1856px #DC143C,
    1809px 368px #DC143C, 112px 953px #DC143C, 590px 1009px #DC143C, 1655px 311px #DC143C,
    100px 1026px #DC143C, 1803px 352px #DC143C, 865px 306px #DC143C, 1077px 1019px #DC143C,
    1335px 872px #DC143C, 1647px 1298px #DC143C, 1233px 1387px #DC143C, 698px 1036px #DC143C,
    659px 1860px #DC143C, 388px 1412px #DC143C, 1212px 458px #DC143C, 755px 1468px #DC143C,
    696px 1654px #DC143C, 1144px 60px #DC143C;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 100s linear infinite;
    box-shadow: 1448px 320px #DC143C, 1775px 1663px #DC143C, 332px 1364px #DC143C,
    878px 340px #DC143C, 569px 1832px #DC143C, 1422px 1684px #DC143C, 1946px 1907px #DC143C,
    121px 979px #DC143C, 1044px 1069px #DC143C, 463px 381px #DC143C, 423px 112px #DC143C,
    523px 1179px #DC143C, 779px 654px #DC143C, 1398px 694px #DC143C, 1085px 1464px #DC143C,
    1599px 1869px #DC143C, 801px 1882px #DC143C, 779px 1231px #DC143C, 552px 932px #DC143C,
    1057px 1196px #DC143C, 282px 1280px #DC143C, 496px 1986px #DC143C, 1833px 1120px #DC143C,
    1802px 1293px #DC143C, 6px 1696px #DC143C, 412px 1902px #DC143C, 605px 438px #DC143C,
    24px 1212px #DC143C, 234px 1320px #DC143C, 544px 344px #DC143C, 1107px 170px #DC143C,
    1603px 196px #DC143C, 905px 648px #DC143C, 68px 1458px #DC143C, 649px 1969px #DC143C,
    744px 675px #DC143C, 1127px 478px #DC143C, 714px 1814px #DC143C, 1486px 526px #DC143C,
    270px 1636px #DC143C, 1931px 149px #DC143C, 1807px 378px #DC143C, 8px 390px #DC143C,
    1415px 699px #DC143C, 1473px 1211px #DC143C, 1590px 141px #DC143C, 270px 1705px #DC143C,
    69px 1423px #DC143C, 1108px 1053px #DC143C, 1946px 128px #DC143C, 371px 371px #DC143C,
    1490px 220px #DC143C, 357px 1885px #DC143C, 363px 363px #DC143C, 1896px 1256px #DC143C,
    1979px 1050px #DC143C, 947px 1342px #DC143C, 1754px 242px #DC143C, 514px 974px #DC143C,
    65px 1477px #DC143C, 1840px 547px #DC143C, 950px 695px #DC143C, 459px 1150px #DC143C,
    1124px 1502px #DC143C, 481px 940px #DC143C, 680px 839px #DC143C, 797px 1169px #DC143C,
    1977px 1491px #DC143C, 734px 1724px #DC143C, 210px 298px #DC143C, 816px 628px #DC143C,
    686px 770px #DC143C, 1721px 267px #DC143C, 1663px 511px #DC143C, 1481px 1141px #DC143C,
    582px 248px #DC143C, 1308px 953px #DC143C, 628px 657px #DC143C, 897px 1535px #DC143C,
    270px 931px #DC143C, 791px 467px #DC143C, 1336px 1732px #DC143C, 1013px 1653px #DC143C,
    1911px 956px #DC143C, 587px 816px #DC143C, 83px 456px #DC143C, 930px 1478px #DC143C,
    1587px 1694px #DC143C, 614px 1200px #DC143C, 302px 1782px #DC143C, 1711px 1432px #DC143C,
    443px 904px #DC143C, 1666px 714px #DC143C, 1588px 1167px #DC143C, 273px 1075px #DC143C,
    1679px 461px #DC143C, 721px 664px #DC143C, 1202px 10px #DC143C, 166px 1126px #DC143C,
    331px 1628px #DC143C, 430px 1565px #DC143C, 1585px 509px #DC143C, 640px 38px #DC143C,
    822px 837px #DC143C, 1760px 1664px #DC143C, 1122px 1458px #DC143C, 398px 131px #DC143C,
    689px 285px #DC143C, 460px 652px #DC143C, 1627px 365px #DC143C, 348px 1648px #DC143C,
    819px 1946px #DC143C, 981px 1917px #DC143C, 323px 76px #DC143C, 979px 684px #DC143C,
    887px 536px #DC143C, 1348px 1596px #DC143C, 1055px 666px #DC143C, 1402px 1797px #DC143C,
    1300px 1055px #DC143C, 937px 238px #DC143C, 1474px 1815px #DC143C, 1144px 1710px #DC143C,
    1629px 1087px #DC143C, 911px 919px #DC143C, 771px 819px #DC143C, 403px 720px #DC143C,
    163px 736px #DC143C, 1062px 238px #DC143C, 1774px 818px #DC143C, 1874px 1178px #DC143C,
    1177px 699px #DC143C, 1244px 1244px #DC143C, 1371px 58px #DC143C, 564px 1515px #DC143C,
    1824px 487px #DC143C, 929px 702px #DC143C, 394px 1348px #DC143C, 1161px 641px #DC143C,
    219px 1841px #DC143C, 358px 941px #DC143C, 140px 1759px #DC143C, 1019px 1345px #DC143C,
    274px 436px #DC143C, 1433px 1605px #DC143C, 1798px 1426px #DC143C, 294px 1848px #DC143C,
    1681px 1877px #DC143C, 1344px 1824px #DC143C, 1439px 1632px #DC143C,
    161px 1012px #DC143C, 1308px 588px #DC143C, 1789px 582px #DC143C, 721px 1910px #DC143C,
    318px 218px #DC143C, 607px 319px #DC143C, 495px 535px #DC143C, 1552px 1575px #DC143C,
    1562px 67px #DC143C, 403px 926px #DC143C, 1096px 1800px #DC143C, 1814px 1709px #DC143C,
    1882px 1831px #DC143C, 533px 46px #DC143C, 823px 969px #DC143C, 530px 165px #DC143C,
    1030px 352px #DC143C, 1681px 313px #DC143C, 338px 115px #DC143C, 1607px 211px #DC143C,
    1718px 1184px #DC143C, 1589px 659px #DC143C, 278px 355px #DC143C, 464px 1464px #DC143C,
    1165px 277px #DC143C, 950px 694px #DC143C, 1746px 293px #DC143C, 793px 911px #DC143C,
    528px 773px #DC143C, 1883px 1694px #DC143C, 748px 182px #DC143C, 1924px 1531px #DC143C,
    100px 636px #DC143C, 1473px 1445px #DC143C, 1264px 1244px #DC143C, 850px 1377px #DC143C,
    987px 1976px #DC143C, 933px 1761px #DC143C, 922px 1270px #DC143C, 500px 396px #DC143C,
    1324px 8px #DC143C, 1967px 1814px #DC143C, 1072px 1401px #DC143C, 961px 37px #DC143C,
    156px 81px #DC143C, 1915px 502px #DC143C, 1076px 1846px #DC143C, 152px 1669px #DC143C,
    986px 1529px #DC143C, 1667px 1137px #DC143C;
}

#stars2:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1448px 320px #DC143C, 1775px 1663px #DC143C, 332px 1364px #DC143C,
    878px 340px #DC143C, 569px 1832px #DC143C, 1422px 1684px #DC143C, 1946px 1907px #DC143C,
    121px 979px #DC143C, 1044px 1069px #DC143C, 463px 381px #DC143C, 423px 112px #DC143C,
    523px 1179px #DC143C, 779px 654px #DC143C, 1398px 694px #DC143C, 1085px 1464px #DC143C,
    1599px 1869px #DC143C, 801px 1882px #DC143C, 779px 1231px #DC143C, 552px 932px #DC143C,
    1057px 1196px #DC143C, 282px 1280px #DC143C, 496px 1986px #DC143C, 1833px 1120px #DC143C,
    1802px 1293px #DC143C, 6px 1696px #DC143C, 412px 1902px #DC143C, 605px 438px #DC143C,
    24px 1212px #DC143C, 234px 1320px #DC143C, 544px 344px #DC143C, 1107px 170px #DC143C,
    1603px 196px #DC143C, 905px 648px #DC143C, 68px 1458px #DC143C, 649px 1969px #DC143C,
    744px 675px #DC143C, 1127px 478px #DC143C, 714px 1814px #DC143C, 1486px 526px #DC143C,
    270px 1636px #DC143C, 1931px 149px #DC143C, 1807px 378px #DC143C, 8px 390px #DC143C,
    1415px 699px #DC143C, 1473px 1211px #DC143C, 1590px 141px #DC143C, 270px 1705px #DC143C,
    69px 1423px #DC143C, 1108px 1053px #DC143C, 1946px 128px #DC143C, 371px 371px #DC143C,
    1490px 220px #DC143C, 357px 1885px #DC143C, 363px 363px #DC143C, 1896px 1256px #DC143C,
    1979px 1050px #DC143C, 947px 1342px #DC143C, 1754px 242px #DC143C, 514px 974px #DC143C,
    65px 1477px #DC143C, 1840px 547px #DC143C, 950px 695px #DC143C, 459px 1150px #DC143C,
    1124px 1502px #DC143C, 481px 940px #DC143C, 680px 839px #DC143C, 797px 1169px #DC143C,
    1977px 1491px #DC143C, 734px 1724px #DC143C, 210px 298px #DC143C, 816px 628px #DC143C,
    686px 770px #DC143C, 1721px 267px #DC143C, 1663px 511px #DC143C, 1481px 1141px #DC143C,
    582px 248px #DC143C, 1308px 953px #DC143C, 628px 657px #DC143C, 897px 1535px #DC143C,
    270px 931px #DC143C, 791px 467px #DC143C, 1336px 1732px #DC143C, 1013px 1653px #DC143C,
    1911px 956px #DC143C, 587px 816px #DC143C, 83px 456px #DC143C, 930px 1478px #DC143C,
    1587px 1694px #DC143C, 614px 1200px #DC143C, 302px 1782px #DC143C, 1711px 1432px #DC143C,
    443px 904px #DC143C, 1666px 714px #DC143C, 1588px 1167px #DC143C, 273px 1075px #DC143C,
    1679px 461px #DC143C, 721px 664px #DC143C, 1202px 10px #DC143C, 166px 1126px #DC143C,
    331px 1628px #DC143C, 430px 1565px #DC143C, 1585px 509px #DC143C, 640px 38px #DC143C,
    822px 837px #DC143C, 1760px 1664px #DC143C, 1122px 1458px #DC143C, 398px 131px #DC143C,
    689px 285px #DC143C, 460px 652px #DC143C, 1627px 365px #DC143C, 348px 1648px #DC143C,
    819px 1946px #DC143C, 981px 1917px #DC143C, 323px 76px #DC143C, 979px 684px #DC143C,
    887px 536px #DC143C, 1348px 1596px #DC143C, 1055px 666px #DC143C, 1402px 1797px #DC143C,
    1300px 1055px #DC143C, 937px 238px #DC143C, 1474px 1815px #DC143C, 1144px 1710px #DC143C,
    1629px 1087px #DC143C, 911px 919px #DC143C, 771px 819px #DC143C, 403px 720px #DC143C,
    163px 736px #DC143C, 1062px 238px #DC143C, 1774px 818px #DC143C, 1874px 1178px #DC143C,
    1177px 699px #DC143C, 1244px 1244px #DC143C, 1371px 58px #DC143C, 564px 1515px #DC143C,
    1824px 487px #DC143C, 929px 702px #DC143C, 394px 1348px #DC143C, 1161px 641px #DC143C,
    219px 1841px #DC143C, 358px 941px #DC143C, 140px 1759px #DC143C, 1019px 1345px #DC143C,
    274px 436px #DC143C, 1433px 1605px #DC143C, 1798px 1426px #DC143C, 294px 1848px #DC143C,
    1681px 1877px #DC143C, 1344px 1824px #DC143C, 1439px 1632px #DC143C,
    161px 1012px #DC143C, 1308px 588px #DC143C, 1789px 582px #DC143C, 721px 1910px #DC143C,
    318px 218px #DC143C, 607px 319px #DC143C, 495px 535px #DC143C, 1552px 1575px #DC143C,
    1562px 67px #DC143C, 403px 926px #DC143C, 1096px 1800px #DC143C, 1814px 1709px #DC143C,
    1882px 1831px #DC143C, 533px 46px #DC143C, 823px 969px #DC143C, 530px 165px #DC143C,
    1030px 352px #DC143C, 1681px 313px #DC143C, 338px 115px #DC143C, 1607px 211px #DC143C,
    1718px 1184px #DC143C, 1589px 659px #DC143C, 278px 355px #DC143C, 464px 1464px #DC143C,
    1165px 277px #DC143C, 950px 694px #DC143C, 1746px 293px #DC143C, 793px 911px #DC143C,
    528px 773px #DC143C, 1883px 1694px #DC143C, 748px 182px #DC143C, 1924px 1531px #DC143C,
    100px 636px #DC143C, 1473px 1445px #DC143C, 1264px 1244px #DC143C, 850px 1377px #DC143C,
    987px 1976px #DC143C, 933px 1761px #DC143C, 922px 1270px #DC143C, 500px 396px #DC143C,
    1324px 8px #DC143C, 1967px 1814px #DC143C, 1072px 1401px #DC143C, 961px 37px #DC143C,
    156px 81px #DC143C, 1915px 502px #DC143C, 1076px 1846px #DC143C, 152px 1669px #DC143C,
    986px 1529px #DC143C, 1667px 1137px #DC143C;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 150s linear infinte;
    box-shadow: 387px 1878px #DC143C, 760px 1564px #DC143C, 1487px 999px #DC143C,
    948px 1828px #DC143C, 1977px 1001px #DC143C, 1284px 1963px #DC143C, 656px 284px #DC143C,
    1268px 1635px #DC143C, 1820px 598px #DC143C, 642px 1900px #DC143C, 296px 57px #DC143C,
    921px 1620px #DC143C, 476px 1858px #DC143C, 658px 613px #DC143C, 1171px 1363px #DC143C,
    1419px 283px #DC143C, 1037px 731px #DC143C, 503px 663px #DC143C, 1562px 463px #DC143C,
    383px 1197px #DC143C, 1171px 1233px #DC143C, 876px 1768px #DC143C, 856px 1615px #DC143C,
    1375px 1924px #DC143C, 1725px 918px #DC143C, 952px 119px #DC143C, 768px 1212px #DC143C,
    992px 1462px #DC143C, 1929px 717px #DC143C, 1947px 755px #DC143C, 1818px 1123px #DC143C,
    1896px 1672px #DC143C, 460px 198px #DC143C, 256px 271px #DC143C, 752px 544px #DC143C,
    1222px 1859px #DC143C, 1851px 443px #DC143C, 313px 1858px #DC143C, 709px 446px #DC143C,
    1546px 697px #DC143C, 674px 1155px #DC143C, 1112px 130px #DC143C, 355px 1790px #DC143C,
    1496px 974px #DC143C, 1696px 480px #DC143C, 1316px 1265px #DC143C, 1645px 1063px #DC143C,
    1182px 237px #DC143C, 427px 1582px #DC143C, 859px 253px #DC143C, 458px 939px #DC143C,
    1517px 1644px #DC143C, 1943px 60px #DC143C, 212px 1650px #DC143C, 966px 1786px #DC143C,
    473px 712px #DC143C, 130px 76px #DC143C, 1417px 1186px #DC143C, 909px 1580px #DC143C,
    1913px 762px #DC143C, 204px 1143px #DC143C, 1998px 1057px #DC143C, 1468px 1301px #DC143C,
    144px 1676px #DC143C, 21px 1601px #DC143C, 382px 1362px #DC143C, 912px 753px #DC143C,
    1488px 1405px #DC143C, 802px 156px #DC143C, 174px 550px #DC143C, 338px 1366px #DC143C,
    1197px 774px #DC143C, 602px 486px #DC143C, 682px 1877px #DC143C, 348px 1503px #DC143C,
    407px 1139px #DC143C, 950px 1400px #DC143C, 922px 1139px #DC143C, 1697px 293px #DC143C,
    1238px 1281px #DC143C, 1038px 1197px #DC143C, 376px 1889px #DC143C,
    1255px 1680px #DC143C, 1008px 1316px #DC143C, 1538px 1447px #DC143C,
    1186px 874px #DC143C, 1967px 640px #DC143C, 1341px 19px #DC143C, 29px 1732px #DC143C,
    16px 1650px #DC143C, 1021px 1075px #DC143C, 723px 424px #DC143C, 1175px 41px #DC143C,
    494px 1957px #DC143C, 1296px 431px #DC143C, 175px 1507px #DC143C, 831px 121px #DC143C,
    498px 1947px #DC143C, 617px 880px #DC143C, 240px 403px #DC143C;
}

#stars3:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 387px 1878px #DC143C, 760px 1564px #DC143C, 1487px 999px #DC143C,
    948px 1828px #DC143C, 1977px 1001px #DC143C, 1284px 1963px #DC143C, 656px 284px #DC143C,
    1268px 1635px #DC143C, 1820px 598px #DC143C, 642px 1900px #DC143C, 296px 57px #DC143C,
    921px 1620px #DC143C, 476px 1858px #DC143C, 658px 613px #DC143C, 1171px 1363px #DC143C,
    1419px 283px #DC143C, 1037px 731px #DC143C, 503px 663px #DC143C, 1562px 463px #DC143C,
    383px 1197px #DC143C, 1171px 1233px #DC143C, 876px 1768px #DC143C, 856px 1615px #DC143C,
    1375px 1924px #DC143C, 1725px 918px #DC143C, 952px 119px #DC143C, 768px 1212px #DC143C,
    992px 1462px #DC143C, 1929px 717px #DC143C, 1947px 755px #DC143C, 1818px 1123px #DC143C,
    1896px 1672px #DC143C, 460px 198px #DC143C, 256px 271px #DC143C, 752px 544px #DC143C,
    1222px 1859px #DC143C, 1851px 443px #DC143C, 313px 1858px #DC143C, 709px 446px #DC143C,
    1546px 697px #DC143C, 674px 1155px #DC143C, 1112px 130px #DC143C, 355px 1790px #DC143C,
    1496px 974px #DC143C, 1696px 480px #DC143C, 1316px 1265px #DC143C, 1645px 1063px #DC143C,
    1182px 237px #DC143C, 427px 1582px #DC143C, 859px 253px #DC143C, 458px 939px #DC143C,
    1517px 1644px #DC143C, 1943px 60px #DC143C, 212px 1650px #DC143C, 966px 1786px #DC143C,
    473px 712px #DC143C, 130px 76px #DC143C, 1417px 1186px #DC143C, 909px 1580px #DC143C,
    1913px 762px #DC143C, 204px 1143px #DC143C, 1998px 1057px #DC143C, 1468px 1301px #DC143C,
    144px 1676px #DC143C, 21px 1601px #DC143C, 382px 1362px #DC143C, 912px 753px #DC143C,
    1488px 1405px #DC143C, 802px 156px #DC143C, 174px 550px #DC143C, 338px 1366px #DC143C,
    1197px 774px #DC143C, 602px 486px #DC143C, 682px 1877px #DC143C, 348px 1503px #DC143C,
    407px 1139px #DC143C, 950px 1400px #DC143C, 922px 1139px #DC143C, 1697px 293px #DC143C,
    1238px 1281px #DC143C, 1038px 1197px #DC143C, 376px 1889px #DC143C,
    1255px 1680px #DC143C, 1008px 1316px #DC143C, 1538px 1447px #DC143C,
    1186px 874px #DC143C, 1967px 640px #DC143C, 1341px 19px #DC143C, 29px 1732px #DC143C,
    16px 1650px #DC143C, 1021px 1075px #DC143C, 723px 424px #DC143C, 1175px 41px #DC143C,
    494px 1957px #DC143C, 1296px 431px #DC143C, 175px 1507px #DC143C, 831px 121px #DC143C,
    498px 1947px #DC143C, 617px 880px #DC143C, 240px 403px #DC143C;
}


@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    

    margin-top: 1rem;
}